.nav {
    background-color: #082647; /* Change this to your desired background color */
    padding: 15px 0; /* Adjust the padding as needed */
    width: 80%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 100px;
    margin-left: 150px;
  }
  
  .navbar-brand,
  .navbar-text {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    padding-left: 25px; /* Change this to your desired text color */
  }
  
  .navbar-toggler-icon {
    border-color: #fff; /* Change this to your desired color for the toggle icon */
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
  }
  
  .nav-link {
    color: #fff !important; /* Change this to your desired color for the links */
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #f8f9fa !important; /* Change this to your desired color for the links on hover/focus */
  }
  
  button {
    background-color: transparent;
    border: 2px solid #fff; /* Change this to your desired border color */
    color: #fff; /* Change this to your desired text color */
    padding: 8px 20px; /* Adjust the padding as needed */
    border-radius: 5px; /* Adjust the border radius as needed */
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
  }
  
  button:hover {
    background-color: #fff; /* Change this to your desired background color on hover */
    color: #007bff; /* Change this to your desired text color on hover */
  }
  
.cv-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 80%;
    margin-bottom: 15px;
    margin-left: 150px;
  }
  .cv-header {
    text-align: center;
    margin-bottom: 20px;
  }
  .cv-header h1 {
    color: #333;
    margin: 0;
  }
  .cv-item {
    margin-bottom: 20px;
    width: 400px;
  }
  .cv-item h4{
    text-align: center;
    margin-top: 40px;
  }
  .cv-item strong {
    color: #333;
    display: inline-block;
    width: 120px;
  }
  .title{
    margin-left: 560px;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #082647;
  }
  .name{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .subtitle{
    text-align:center;
    margin-top: -8px;
    color: #555556;
  }
  .details{
    margin-top: 20px;
    display: flex;
    margin-left: 60px;
  }
  .expireance{
    text-align: left;
    float: right;
    margin-left: 200px;

  }